<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wall_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.30094579523876E-20 -4.44782483131752E-19 0.00345439583983266"
        rpy="0 0 0" />
      <mass
        value="0.000243818698971603" />
      <inertia
        ixx="1.78219172777379E-09"
        ixy="2.94247252452958E-19"
        ixz="2.0613532027932E-25"
        iyy="1.78219173725593E-09"
        iyz="2.1935539155385E-25"
        izz="1.57516489155268E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>